#ich {
    justify-self: center;
    grid-row: 1 /span 1;
    grid-column: 1 /span 1;
    width: 100%;
    height: 100%;
}
#content {
    display: grid;
    width: 98vw;
    align-items: center;
    justify-content: center;
}

#placeContent {
    display: grid;
    grid-template-rows: 15vh 50vh 15vh 50vh;
    grid-template-columns: repeat(7, 10vw);
    grid-row-gap: 8vh;
    grid-column-gap: 1vw;
    justify-content: start;
    align-items: start;
}

#buch {
    width: 20%;
    height: auto;
    justify-self: center;
    grid-row: 1 /span 1;
    grid-column: 1 /span 1;
}
/*Headlines*/

h3 {
    font-family: 'Source Code Pro', monospace, Arial;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    margin-top: 13.5vh;
}

#bio{
    grid-row: 1 /span 1;
    grid-column: 5 /span 3;
}

#skills {
    grid-row: 3 /span 1;
    grid-column: 1 /span 3;
}

#interests {
    grid-row: 3 /span 1;
    grid-column: 5 /span 3;
}

/*Text*/

.aboutMeText {
    font-family: 'Source Code Pro', monospace, Arial;
    font-weight: 400;
    justify-self: center;
    font-size: 1rem;
}

#bioText {
    grid-row: 2 /span 1;
    grid-column: 5 /span 3;
}
#compText {
    grid-row: 4 /span 1;
    grid-column: 2 /span 2;
}
#interestText {
    grid-row: 4 /span 1;
    grid-column: 6 /span 2;
}

/*Bilder*/

#b1, #b2, #b3 {
    width: 25vw;
    height: 50vh;
    justify-content: center;
    object-fit: cover;
}

#b1 {
    grid-row: 2 /span 1;
    grid-column: 1 /span 3;
   
}

#iconsSkills{
    grid-row: 4 /span 1;
    grid-column: 1 /span 1 ;
}

#skillsGrid{
    display: grid;
    width: 10vw;
    height: 24vh;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
    align-content: space-around ;
}

#animation{
    width: 2vw;
    grid-row: 1 /span 1;
    grid-column: 1 /span 1;
}


#code{
    width: 2vw;
    grid-row: 1 /span 1;
    grid-column: 2 /span 1;
}


#photo{
    width: 2vw;
    grid-row: 2 /span 1;
    grid-column: 1 /span 1;
}

#video{
    width: 2vw;
    grid-row: 2 /span 1;
    grid-column: 2 /span 1;
}

#paint{
    width: 2vw;
    grid-row: 3 /span 1;
    grid-column: 1 /span 1;
}

#sound{
    width: 2vw;
    grid-row: 3 /span 1;
    grid-column: 2 /span 1;
}

#iconsInterests{
    grid-row: 4 /span 1;
    grid-column: 5 /span 1 ;
}

#interestsGrid{
    display: grid;
    width: 10vw;
    height: 16vh;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
    align-content: space-around ;
}

#bike{
    width: 2vw;
    grid-row: 1 /span 1;
    grid-column: 1 /span 1;
}


#painting{
    width: 2vw;
    grid-row: 1 /span 1;
    grid-column: 2 /span 1;
}


#gaming{
    width: 2vw;
    grid-row: 2 /span 1;
    grid-column: 1 /span 1;
}

#camping{
    width: 2vw;
    grid-row: 2 /span 1;
    grid-column: 2 /span 1;
}

  /*---footer---*/

footer{
    align-items: center;
    justify-content: center;
    margin: 15vh 0vh;
    text-align: center;
}

.impressum{
    position: relative;
}

.impressum::after{
    content:'';
    width: 0%;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 50%;
    border-radius: 10px;
    transition: 0.3s ease;
}

.impressum:hover::after{
    left: 0%;
    width: 100%;
}

@media screen and (max-width: 1100px) {

    #placeContent{
        display: grid;
        grid-template-rows: 40vh 15vh 30vh 15vh 30vh 15vh 30vh;
        grid-template-columns: repeat(3, 25vw);
        justify-content: start;
        align-items: start;
    }

    #b1 {
        grid-row: 1 /span 1;
        grid-column: 1 /span 3; 
        width: 50vw;
        height: 40vh;
        justify-content: center;
        object-fit: cover;
    }

    #bio{
        grid-row: 2 /span 1;
        grid-column: 1 /span 3;
    }

    #bioText {
        grid-row: 3 /span 1;
        grid-column: 1 /span 3;
    }
    
    #skills {
        grid-row: 4 /span 1;
        grid-column: 1 /span 3;
    }

    #iconsSkills{
        grid-row: 5 /span 1;
        grid-column: 1 /span 1 ;
    }

    #compText {
        grid-row: 5 /span 1;
        grid-column: 2 /span 2;
    }

    #interests {
        grid-row: 6 /span 1;
        grid-column: 1 /span 3;
    }

    #iconsInterests{
        grid-row: 7 /span 1;
        grid-column: 1 /span 1 ;
    }

    #interestText {
        grid-row: 7 /span 1;
        grid-column: 2 /span 2;
    }    

   

    #skillsGrid{
        width: 20vw;
        height: 24vh;
    }
    
    #animation{
        width: 4vw;
    }
    
    
    #code{
        width: 4vw;
    }
    
    
    #photo{
        width: 4vw;
    }
    
    #video{
        width: 4vw;
    }
    
    #paint{
        width: 4vw;
    }
    
    #sound{
        width: 4vw;
    }

    #interestsGrid{
        width: 20vw;
        height: 16vh;
    }

    #bike{
        width: 4vw;
    }
    
    
    #painting{
        width: 4vw;
    }
    
    
    #gaming{
        width: 4vw;
    }
    
    #camping{
        width: 4vw;
    }
}