*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.container {
    display: flex;
    width: 98vw;
    height: 9vh;
    align-items: start;
    justify-content: center;
    text-transform: uppercase;
    font-family: Source Code Pro;
    font-weight: 400;
    font-size: 1rem;
    position: sticky;
    top: 1vh;
}

#topbar {
    padding: 1vh;
    width: 100%;
    height: 7vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    border: black solid 2px;
    align-items: center;
    background-color: white;
}

header {
    display: flex;
    width: 98vw;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

#mainLand {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    width: 98vw;
    align-items: center;
    justify-content: center;
}

#placeContent {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 35vw 35vw;
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
    background-color: deepskyblue;
    border: black solid 2px;
}

#home{ /*Unser Homebutton (also das "Johannes Meyer")*/
    grid-row: 1 /span 1;
    grid-column: 1 /span 1;
    letter-spacing: 0.8rem;
    text-decoration: none;
    color: black;
    justify-self: start;
}

#middle /*Die drei Verlinkungen, die zu den About me, work und connect seiten führe*/{
    grid-row: 1 /span 1;
    grid-column: 2 /span 1;
    justify-self: center;
}

#social /*die 2 Icons zu twitter und Instagram*/{
    grid-row: 1 /span 1;
    grid-column: 3 /span 1;
    justify-self: end;
}

#aboutMeA, #workA, #connectA{
    text-decoration: none;
    color: black;
}

.fa-twitter{
    color: black;
}

.fa-instagram{
    grid-row: 1 /span 1;
    color: black;
}

#buch {
    width: 20%;
    height: auto;
    justify-self: center;
    grid-row: 1 /span 1;
    grid-column: 1 /span 1;
}

h1 {
    font-family: Source Code Pro;
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: 0.8rem;
    justify-self: center;
    grid-row: 2 /span 1;
    grid-column: 1 /span 1;
}

#arrow {
    width: 20%;
    height: 20%;
    justify-self: center;
    grid-row: 3 /span 1;
    grid-column: 1 /span 1;
}

.aboutMeText {
    font-family: Source Code Pro;
    font-weight: 400;
    justify-self: center;
}

#bio{
    grid-row: 1 /span 1;
    grid-column: 2 /span 1;
}

#b1 {
    grid-row: 2 /span 1;
    grid-column: 1 /span 1;
}

#bioText {
    grid-row: 2 /span 1;
    grid-column: 2 /span 1;
}

#skills {
    grid-row: 3 /span 1;
    grid-column: 2 /span 1;
}

#b2 {
    grid-row: 4 /span 1;
    grid-column: 1 /span 1;
}

#compText {
    grid-row: 4 /span 1;
    grid-column: 2 /span 1;
}

#interests {
    grid-row: 5 /span 1;
    grid-column: 2 /span 1;
}

#b3 {
    grid-row: 6 /span 1;
    grid-column: 1 /span 1;
}

#interestText {
    grid-row: 6 /span 1;
    grid-column: 2 /span 1;
}

#b1, #b2, #b3 {
    width: 10%;
    height: auto;
}