.root {
    font-size: 12pt;
}

#landing{
    border: solid black 3px;
    margin: 20% 28%;
    padding: 20px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-family: Source Code Pro;
    font-weight: 400;
    font-size: 4rem;
    letter-spacing: 0.8rem;}

#buttons{

}
