*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.innerContainer {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
}

#nameTag {
    border: solid black 3px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Code Pro', monospace, Arial;
    font-weight: 400;
    font-size: 4rem;
    letter-spacing: 0.8rem;
    
    grid-row: 1 /span 1;
    grid-column: 1 /span 3;
}

#aboutMe {
    grid-row: 2 /span 1;
    grid-column: 1 /span 1;
}

#work {
    grid-row: 2 /span 1;
    grid-column: 2 /span 1;
}

#connect {
    grid-row: 2 /span 1;
    grid-column: 3 /span 1;
}

a{
    border: solid black 2px;
    padding: 10px;
    font-family: 'Source Code Pro', monospace, Arial;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.8rem;
    text-decoration: none;
    color: black;
    background-color: white;
}

a:hover{
    background-color: black;
    color: white;
}

.curs{
    font-family: 'Source Code Pro', monospace, Arial;
    font-weight: 400;
    font-size: 2rem;
    color: white;
}

@media screen and (max-width: 600px) {

    .container {
        align-items: start;
    }
    
    .innerContainer {
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
    }

    #nameTag {
        grid-row: 1 /span 1;
        grid-column: 1 /span 1;
    }

    #aboutMe {
        grid-row: 2 /span 1;
        grid-column: 1 /span 1;
    }

    #work {
        grid-row: 3 /span 1;
        grid-column: 1 /span 1;
    }

    #connect {
        grid-row: 4 /span 1;
        grid-column: 1 /span 1;
    }
}



