#nameTag {
    border: solid black 3px;
    margin: 20% 28% 2%;
    padding: 20px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-family: Source Code Pro;
    font-weight: 400;
    font-size: 4rem;
    letter-spacing: 0.8rem;
    /*position: absolute*/
}

a{
    border: solid black 2px;
    margin: 0% 1% 0% 1%;
    padding: 10px;
    font-family: Source Code Pro;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.8rem;
    text-decoration: none;
    color: black;
    background-color: white;
}

#curser{
    font-family: Source Code Pro;
    font-weight: 400;
    font-size: 4rem;
    letter-spacing: 0.8rem;
}

a:hover{
    background-color: black;
    color: white;
}

#buttons{
    text-align: center;
}

@media screen and (min-width: 600px) {
    a {
        width: 100%;
    }
}



