.container {
    display: flex;
    width: 98vw;
    height: 9vh;
    align-items: start;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Source Code Pro', monospace, Arial;
    font-weight: 400;
    font-size: 1rem;
    position: sticky;
    z-index: 1000; /*Slightly Overkill, aber sicher ist sicher*/
}

#topbar {
    position: fixed;
    top: 0;
    width: 98vw;
    height: 9vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    /*border: black solid 2px;*/
    align-items: center;
    background-color: white;
}

#aboutMeA, #workA, #connectA{
    text-decoration: none;
    color: black;
    
}

#home{ /*Unser Homebutton (also das "Johannes Meyer")*/
    grid-row: 1 /span 1;
    grid-column: 1 /span 1;
    letter-spacing: 0.8rem;
    text-decoration: none;
    color: black;
    justify-self: start;
}

#middle /*Die drei Verlinkungen, die zu den About me, work und connect seiten führe*/{
    grid-row: 1 /span 1;
    grid-column: 2 /span 1;
    justify-self: center;
}

#social /*die 2 Icons zu twitter und Instagram*/{
    grid-row: 1 /span 1;
    grid-column: 3 /span 1;
    justify-self: end;
}

.fa-twitter{
    color: black;
}

.fa-instagram{
    grid-row: 1 /span 1;
    color: black;
}

body {
    padding-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

a {
    font-family: 'Source Code Pro', monospace, Arial;
    font-weight: 400;
    font-size: 1rem;
    color: black;
    text-decoration: none;
    margin: 0.5vh;
}

#hamburgerClosed{
    display: none;
}
#hamburgerOpened{
    display: none;
}


@media only screen and (max-width: 1020px){

    #hamburgerClosed{
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
    }
    #hamburgerOpened{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
    }

    .container {
        align-items: start;
        justify-content: start;
    }

    #topbar {
        position: fixed;
        top: 0;
        display: block;
        width: 0vw;
        height: 100vh;
        align-items: start;
        background-color:white;
        padding-top: 6vh;
        padding-left: 0vw;
        /*border-left: solid rgba(206, 206, 206, 0.384) 1px;*/
        right:0;
        transition: 0.5s;
    }

    #home{
        display: flex;
        padding-bottom: 6vh;
    }

    #middle{
        padding-bottom: 6vh;
    }

    #aboutMeA {
        display: flex;
        padding-bottom: 0.5vh;
    }

    #aboutMeA:hover {
        text-decoration: underline;
    }
    #workA {
        display: flex;
        padding-bottom: 0.5vh;
    }
    #workA:hover {
        text-decoration: underline;
    }
    #connectA {
        display: flex;
    }
    #connectA:hover {
        text-decoration: underline;
    }   
}