#backToTop {
    float: left;
    position: fixed;
    border: none;
    color: black;
    right: 0px;
    bottom: 0;
    margin: 5vh;
    padding: 2vh;
    outline: none;
    background-color: white;
    border: solid 1px rgb(100, 100, 100);
    opacity: 0;
}