#taube {
    width: 20%;
    height: auto;
    justify-self: center;
    grid-row: 1 /span 1;
    grid-column: 1 /span 1;
}

#marginDiv {
    display: grid;
    width: 98vw;
}

#fibonacci {
    display: grid;

    grid-template-rows: 5fr 3fr;
    grid-template-columns: 7fr 2fr 3fr;
    /*height: 100%;
    width: 100%;*/
    grid-row-gap: 1vw;
    grid-column-gap: 1vw;
    align-items: center;
}

#f1 {
    grid-row: 1 /span 2;
    transition: transform .2s;
}

#f2 {
    grid-row: 1;
    grid-column: 2 /span 2;
}

#f3 {
    grid-row: 2;
    grid-column: 3;
}

#f4 {
    grid-row: 2;
    grid-column: 2;
}

footer {
    align-items: center;
    justify-content: center;
    margin: 15vh 0vh;
    text-align: center;
}

.fibPic {
    object-position: top center;
    object-fit: cover;
    width: 100%;
}

#f1 :hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
    #fibonacci {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }

    #f1 {
        grid-row: 1;
        grid-column: 1;
    }

    #f2 {
        grid-row: 2;
        grid-column: 1;
    }

    #f3 {
        grid-row: 3;
        grid-column: 1;
    }

    #f4 {
        grid-row: 4;
        grid-column: 1;
    }
}