#taube {
    width: 20%;
    height: auto;
    justify-self: center;
    grid-row: 1 /span 1;
    grid-column: 1 /span 1;
}

#marginDiv {
    display: grid;
    width: 98vw;
    border: black 1px solid;
}

#fibonacci {
    display: grid;

    grid-template-rows: 5fr 3fr;
    grid-template-columns: 7fr 2fr 3fr;
    /*height: 100%;
    width: 100%;*/

    grid-gap: 10px;
    grid-row-gap: 1vw;
    grid-column-gap: 1vw;
    justify-content: start;
    align-items: start;
}

#f1 {
    grid-row: 1 /span 2;
}

#f2 {
    grid-row: 1;
    grid-column: 2 /span 2;
}

#f3 {
    grid-row: 2;
    grid-column: 3;
}

#f4 {
    grid-row: 2;
    grid-column: 2;
}

#f1, #f2, #f3, #f4 {
    /*object-position: top center;
    object-fit: cover;*/
}